extends layout
append css
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/article-detail.css')
block content-article
    article
        div.index_about
            h2.c_titile #{article.title}
            p.box_c
                span.d_time 发布时间： #{article.create_date}
                span 编辑：
                    a(href='mailto:carlisliu@qq.com') #{article.author_id}
            ul.infos
                p !{article.content}
            div.keybq
                p
                    span 关键字词
            div.nextinfo
block content-aside
    include side.jade
block script-content
    script(type='x/template' id='other-articles' data-comments='for later use,todo').
        <p>
            上一篇：<a href='/articles.html'>我们的愿景</a>
        </p>
        <p>
            下一篇：<a href='/articles.html'>2014排行榜</a>
        </p>
    script.
        (function(){
            seajs.use('jquery', function($){
                $(function(){
                    $.getJSON('/articles/get/adjacent.html', {id: '#{article._id}'}, function(data){
                        var html = '';
                        if (data) {
                            if (data.pre) {
                                html += '<p>上一篇：<a href="' + (data.pre.link || '/') + '">' + (data.pre.title || '') + '</a></p>'
                            }
                            if (data.next) {
                                html += '<p>下一篇：<a href="' + (data.next.link || '/') + '">' + (data.next.title || '') + '</a></p>'
                            }
                        }
                        if (html) {
                            $('.nextinfo').html(html);
                        }
                    });
                });
            });
        })();