extends layout
append css
    link(rel='stylesheet', href='/stylesheets/index.css')
block content-article
    article
        div.banner
            ul.texts
                p The best life is use of willing attitude, a happy-go-lucky life.
                p 最好的生活是用心甘情愿的态度，过随遇而安的生活。
        div.bloglist
            h2
                p
                    span 推荐
                    | 文章
            each articleItem, articleIndex in articles
                div.blogs
                    h3
                        a(href='/articles/#{articleItem._id}',target="_blank", data-artilce-id='#{articleItem._id}') #{articleItem.title}
                    if articleItem.figure
                        figure
                            img(src='#{articleItem.figure}')
                        ul
                            p !{articleItem.content}
                            a(href='/articles/#{articleItem._id}', target="_blank", class="readmore") 阅读全文&gt;&gt;
                    else
                        ul(style="width:100%;")
                            p #{articleItem.content}
                            a(href='/articles/#{articleItem._id}', target="_blank", class="readmore") 阅读全文&gt;&gt;
                    p.autor
                        span 作者：#{articleItem.author_id}
                        span 分类：【
                            a(href='/') #{articleItem.category_name}
                            | 】
                        span 浏览(
                            a(href='/') #{articleItem.review_times}
                            | )
                    div.dateview #{articleItem.create_date}
block content-aside
    include side.jade

